*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

.page__1{
width: 1920px;
height: 1000px;
background-color: #1B1450;
}

.page__2{
    width: 1920px;
    height: 1000px;
    background-color: #4B2276;
}

.page__3{
    width: 1920px;
    height: 1000px;
    background-color: #1B1450;
    }

.page__4{
    width: 1920px;
    height: 1000px;
    background-color: #1B181D;
}

.header__p{
   font-size: 60px;
   color: #fff;

   font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: Regular;
  padding-top: 40px;
  padding-left: 45px;

}

header{
    width: 1920px;
    height: 150px;
    background-color: #1F1E29;
}

.header__a{
    font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: bold;
  margin-left: 205px;
  margin-bottom: 100px;
}

.header__a1{
    font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: bold;
  margin-left: 100px;
  margin-bottom: 100px;
}

.title__page__1{
    font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-size: 80px;
  color: #fff;
  margin-top: 140px;
  padding-left: 80px;
}

.h1__page__1{
    width: 1760px;
    height: 210px;
}

.h3__page__1{
    width: 1000px;
    height: 50px;
    font-family: "Yrsa", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.h3__desc__page__1{
    color: #fff;
    font-size: 24px;
    padding-left: 80px;
    padding-top: 40px;
}

.page__2{
    width: 1920px;
    height: 1000px;
}

.h1__page__2{
    width: 1035px;
    height: 100px;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    margin-left: 443px;
    padding-top: 80px;
}

.title__page__2{
    color: #fff;
    font-size: 80px;
}

.h2__page__2{
    width: 1063px;
    height: 100px;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
}

.h2__decs__page__2a1{
    color: #fff;
    font-size: 45px;
    margin-top: 291px;
    margin-left: 80px;
}

.h2__decs__page__2a2{
    color: #fff;
    font-size: 45px;
    margin-top: 111px;
    margin-left: 80px;
}

.red__btn{
    width: 300px;
    height: 80px;
    background-color: #AE2424;
    border-radius: 25px;
    margin-top: 250px;
    margin-left: 80px;
    color: #fff;
    font-size: 26px;
}

.h3__page__2{
    width: 192px;
    height: 32px;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    margin-left: 37px;
    padding-top: 24px;
    
}

.h1__page__3{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    font-size: 80px;
    color: #fff;
    width: 370px;
    height: 120px;
    margin-left: 645px;
    padding-top: 80px;
}

.h2__page__2{
    width: 1000px;
    height: 100px;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    color: #fff;
}

.h2__decs__page__3a1{
    width: 1000px;
    height: 100px;
    font-size: 60px;
    margin-left: 80px;
    padding-top: 230px;
}

.h2__decs__page__3a2{
    width: 1000px;
    height: 100px;
    font-size: 60px;
    margin-left: 80px;
    padding-top: 150px;
}

.h2__decs__page__3a3{
    width: 1150px;
    height: 100px;
    font-size: 60px;
    margin-left: 80px;
    padding-top: 150px;
}

.shild{
    width: 500px;
    height: 600px;
    margin-left: 1300px; 
}

.page__4{
    padding-top: 80px;
}

.otziv__1{
    width: 1600px;
    height: 260px;
    background-color: #3F367C;
    border-radius: 25px;
    color: #fff;
    margin-left: 80px;
    
    
    
}

/* .otziv__2{
    padding-top: 80px;
    margin-left: 80px;
    width: 1600px;
    height: 260px;
    background-color: #3F367C;
    border-radius: 25px;
    color: #fff;
} */

